:root {
  color: #212121;
  font-family: -apple-system, BlinkMacSystemFont, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

.user-login {
  align-items: center;
  display: flex;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 6px;
  cursor: pointer;
}

.wrap {
  max-width: 1238px;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
}
