.home {
  display: flex;
  flex-direction: column;
}

.home-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-top: 24px;
}

.home-first-block {
  align-items: center;
  display: flex;
  justify-content: center;
  height: calc(100vh - 101px);
}
