@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  color: #212121;
  font-family: -apple-system, BlinkMacSystemFont, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

.user-login {
  align-items: center;
  border: 1px solid #000;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  min-width: 120px;
  padding: 6px;
}

.wrap {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
}
