@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  color: #212121;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

html, body {
  background-color: #fff;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

.avatar-upload {
  position: relative;

  input {
    position: absolute;
    left: -999999px;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.form-one-column {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 290px;
}

.form-two-columns {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.float-toggle {
  position: relative;

  &__links {
    align-items: center;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }

  a {
    align-items: center;
    display: flex;
    height: 34px;
    padding: 0 15px;
    z-index: 1;
  }

  .active {
    color: #fff;
  }

  &__decor {
    background-color: #000;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 36px;
    position: absolute;
    transition: all 0.3s;
    width: 0;
    z-index: 0;
  }
}

.header {
  align-items: center;
  border-bottom: 1px solid #000;
  display: flex;
  height: 74px;
  justify-content: space-between;
  margin: 0 40px;

  &-divider {
    background-color: #000;
    height: 32px;
    width: 1px;
  }

  &-left {
    align-items: center;
    display: flex;
    gap: 40px
  }

  &-logo {
    max-width: 120px;
    width: 100%;
  }

  &-nav {
    display: flex;
    gap: 22px;
  }
}

.top-section {
  align-items: center;
  display: flex;
  height: 108px;
  justify-content: space-between;
}

.vertical-divider {
  background-color: #D9D9D9;
  width: 2px;
}

.user-login {
  align-items: center;
  border: 1px solid #000;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  min-width: 120px;
  padding: 6px;
}

.more-btn {
  align-items: center;
  display: flex;
  cursor: pointer;
  justify-content: center;
  position: relative;
  width: 100%;

  &:before {
    content: '';
    display: block;
    background-color: #D9D9D9;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    width: 100%;
    z-index: -1;
  }

  div {
    background-color: #fff;
    padding: 0 5px;
  }

  input {
    position: absolute;
    left: -999999px;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  span {
    border-radius: 50px;
    background-color: #fff;
    transition: 0.3s all;
    padding: 10px 5px;
  }

  input:checked ~ span {
    transform: rotate(-180deg);
  }
}

.wrap {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
}
